# Replace the credentials here with your own.
# Rename this file to .env before starting the app.

# Watson conversation
CONVERSATION_USERNAME="2d733a4e-70a5-4290-ac59-7feb825eab5a"
CONVERSATION_PASSWORD="Zdq2hOZC4vjC"
WORKSPACE_ID="b987eb1b-532d-4288-9031-68b04d0c66b3"

# Watson Discovery
DISCOVERY_USERNAME="4bbe6406-8af3-470f-aa95-3161d232c6dd"
DISCOVERY_PASSWORD="amMkFhurHBIx"
DISCOVERY_ENVIRONMENT_ID="64681a30-0886-47d6-9210-d9427d75fe22"
DISCOVERY_COLLECTION_ID="45848aa1-7f10-48fd-b5f8-b74143b2c4c3"

# Watson Natural Language Understanding
NATURAL_LANGUAGE_UNDERSTANDING_USERNAME="4fd1e09e-dd5d-4b6c-bb33-37a546f0a1b0"
NATURAL_LANGUAGE_UNDERSTANDING_PASSWORD="SKYPwFhFUYqX"

# Watson Tone Analyzer
TONE_ANALYZER_USERNAME="768585d4-8bf4-4c8f-a9cb-f95655071c86"
TONE_ANALYZER_PASSWORD="o6XhvX4jFkCp"

# Run locally on a non-default port (default is 3000)
# PORT=3000
