# Replace the credentials here with your own.
# Rename this file to .env before starting the app.

# Watson conversation
CONVERSATION_USERNAME="bfc3463f-72d4-438a-87f6-45fcab674a15"
CONVERSATION_PASSWORD="a5W7KnzUDTUM"
WORKSPACE_ID="ba73f314-b61d-4787-96a6-1472d7656adb"

# Watson Discovery
DISCOVERY_USERNAME="b52bf039-86bf-413b-8dcd-aa7b0f5bfe84"
DISCOVERY_PASSWORD="hx5j0hXRXrfl"
DISCOVERY_ENVIRONMENT_ID="6c08eac0-c96e-4997-a3d3-c94a8657406a"
DISCOVERY_COLLECTION_ID="4cf20d84-ee65-45d4-90b2-6a20169fa5ac"

# Watson Natural Language Understanding
NATURAL_LANGUAGE_UNDERSTANDING_USERNAME="36e29046-7f95-43c9-9e65-d0d9569eba63"
NATURAL_LANGUAGE_UNDERSTANDING_PASSWORD="4GOlgurumNZb"

# Watson Tone Analyzer
TONE_ANALYZER_USERNAME="34ce26c1-abed-4c17-9d69-7aa6bca63d2d"
TONE_ANALYZER_PASSWORD="Tcsh1oiJtaCi"

# Run locally on a non-default port (default is 3000)
# PORT=3000
